<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scaled=1.0">
        <title>Pastelería para el té</title>
        <link rel="icon" href="../img/icon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        

        <link rel="stylesheet" href="../css/pasteleriaparaelte.css">
    </head>

    <body>
        <header>
            <div class="caja">
                <h1>Envío sin cargo a partir de $25.000 en zonas habilitadas</h1>
            </div>
        </header>
        

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="../../index.html">
              <img src="../../public/img/logo1.jpg" alt="Logo de Pasteleria Abril" id="logo">Inicio</a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="quienessomos.html">Quienes Somos</a>
                  </li>
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="Tortasclasicas.html">Tortas Clásicas <link rel="stylesheet" href=""></a></li>
                      <li><a class="dropdown-item" href="pasteleriaparaelte.html">Pastelería para el té</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="personalizados.html">Personalizados</a></li>
                    </ul>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

          <h2>Pastelería para el té</h2>
          <br>
          <br>
          <h3>Alfajores, Brownies, Lemonies, pepas, para merendar. 
            <br>Los pedidos se realizan con 48hs de anticipación.</h3>

            

              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="../img/box1.jpg" class="card-img-top" alt="Caja surtida">
                    <div class="card-body">
                      <h5 class="card-title">Caja surtida</h5>
                      <p class="card-text">Caja surtida de brownies y lemonies</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../img/alfajores.jpg" class="card-img-top" alt="Alfajores">
                    <div class="card-body">
                      <h5 class="card-title">Caja de Alfajores</h5>
                      <p class="card-text">Caja de alfajores surtidos, maicena, de masa sablee con dulce de leche, con almendras y de vainilla con relleno de dulce de leche y centro de frutos rojos, bañados en chocolate blanco</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="../img/box2.jpg" class="card-img-top" alt="Caja surtida 2">
                    <div class="card-body">
                      <h5 class="card-title">Caja matera</h5>
                      <p class="card-text">Caja matera surtida con alfajores de maicena y pepas de membrillo</p>
                    </div>
                  </div>
                </div>
              </div>


            <h1>Dejanos tu mail para recibir novedades</h1>
            <br>
            <div class="row mb-3">
                  <label for="colFormLabel" class="col-sm-2 tu email">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="tu email">
                  </div>
              
  
          
              <h1>Medios de Pago</h1>
                  <div class="icono">
                    <i class="fa-solid fa-credit-card"></i>
                    <h2>Tarjeta de Crédito o Débito</h2>
                   <br>
                    <i class="fa-solid fa-car-side"></i>
                   <h2>Envíos a Caba y Amba sin cargo</h2>
                    <i class="fa-solid fa-lock"></i>
                    <h2>Compra segura</h2>
                  </div>/.icono 
    
              <h1>Nuestras redes sociales</h1>
                   <div class="soc">
                      <i class="fa-brands fa-instagram"></i>
                      <i class="fa-brands fa-twitter"></i>
                      <i class="fa-brands fa-facebook"></i>
                  </div>/.soc
            </div>
              
      
           <!--FOOTER-->
        <footer>
          <p>&copy; Vanesa Taboada, potrero digital</p>
        </footer>

    </body>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ba103831c2.js" crossorigin="anonymous"></script>
</html>