<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scaled=1.0">
        <title>Pastelería Abril</title>
        <link rel="icon" href="../img/icon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <link rel="stylesheet" href="../css/quienessomos.css">    
    </head>

    <body>
        <header>
            <div class="caja">
                <h1>Envío sin cargo a partir de $25.000 en zonas habilitadas</h1>
            </div>
            
        </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="../../index.html">
              <img src="../../public/img/logo1.jpg" alt="Logo de Pasteleria Abril" id="logo">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="quienessomos.html">Quienes Somos</a>
                  </li>
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="Tortasclasicas.html">Tortas Clásicas <link rel="stylesheet" href="public/views/Tortasclasicas.html"></a></li>
                      <li><a class="dropdown-item" href="pasteleriaparaelte.html">Pastelería para el té</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="personalizados.html">Personalizados</a></li>
                    </ul>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

          <br>
          <h1>Pastelería Abril es un proyecto personal encarado con mucho amor y dedicación.

            Con formación en el Colegio de Cocineros del Gato Dumas y con todas las ganas de contagiar de dulzuras a todos nuestros amigos empezó este camino, porque creo que la pastelería hecha en casa sigue existiendo y se pueden preparar exquisitos productos manteniendo la calidad de los ingredientes y amor en todo lo que haces.
            
            En todas mis recetas encontraran la suavidad de las cremas, la exquisitez del chocolate, la elasticidad de los merengues y los secretos de la cocina de nuestras abuelas.</h1>
            <br>
            <br>

            <div class="videotorta">
            <iframe iframe width="500" height="250" src="https://www.youtube.com/embed/ktHjoUia-KI" title="Stunning Cake Decorating Technique Like a Pro | Yummy Chocolate Cake Decorating Ideas for Everyone" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <br>
          <br>
            

        <h1>Dejanos tu mail para recibir novedades</h1>
        <br>
        <div class="row mb-3">
                <label for="colFormLabel" class="col-sm-2 tu email">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="colFormLabel" placeholder="tu email">
                </div>
            

      

        
        <h1>Medios de Pago</h1>
          <div class="icono">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Tarjeta de Crédito o Débito</h2>
            <br>
            <i class="fa-solid fa-car-side"></i>
            <h2>Envíos a Caba y Amba sin cargo</h2>
            <i class="fa-solid fa-lock"></i>
            <h2>Compra segura</h2>
          </div>
  
        <h1>Nuestras redes sociales</h1>
          <div class="soc">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
          </div>
        </div>
        

         <h1>Nos encontramos en Caseros, Partido de Tres de Febrero</h1>
        <br>
        <div class="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d74335.52152512266!2d-58.595813020093644!3d-34.573882559340014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb8698cab7fa3%3A0xc4d83fe138c75b6f!2sCaseros%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1700746346718!5m2!1ses-419!2sar" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        


       <!--FOOTER-->
       <footer>
        <p>&copy; Vanesa Taboada, potrero digital</p>
      </footer>


    </body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ba103831c2.js" crossorigin="anonymous"></script>
</html>